<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Multi_001/src/com/bjsxt/base/sync007/VolatileNoAtomic.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bjsxt.base.sync007.VolatileNoAtomic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Multi_001"/>
</launchConfiguration>
